name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build & Install
        run: mvn -B install -DskipTests --no-transfer-progress
        working-directory: 'Assignment_6'

      - name: Ensure browsers are installed
        run: mvn exec:java -e -Dexec.mainClass=com.microsoft.playwright.CLI -Dexec.args="install --with-deps"
        working-directory: 'Assignment_6'

      - name: Run Playwright tests
        run: mvn test
        working-directory: 'Assignment_6'
        env:
          HEADLESS: true

      - name: Upload test videos
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-videos
          path: Assignment_6/videos/
